html {
    background: linear-gradient(rgba(0, 0, 0, 0.541), rgba(65, 65, 65, 0.534)) no-repeat center center fixed, url('../assets/background-order.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

main {
    text-align: center;
}

main h1 {
    margin: 5%;
    font-size: 300%;
    color: var(--text);
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

.card {
    font-family: 'Roboto', sans-serif;
    width: 540px;
    height: 250px;
    border: solid 6px var(--background);
    border-radius: 10px;
    background: var(--secondary);
    box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    color: var(--text);
}

.card .container {
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.card .container .name {
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 1rem;
}

.card .container .price {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
}

.card .container .description p {
    font-size: 0.9rem;
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.card .container button {
    padding: 0.6em 2em;
    border-radius: 8px;
    color: #fff;
    background-color: #1976d2;
    font-size: 1.1em;
    border: solid 2px var(--text);
    cursor: pointer;
    margin: 1em;
    color: rgb(70, 69, 69);
    transition: all 0.4s ease;
}

.card .container button:hover {
    background-color: var(--accent);
    border: solid 2px var(--primary);
    color: var(--text);
}