:root {
  --text: #fafffc;
  --background: #000f05;
  --primary: #04f651;
  --secondary: #014115;
  --accent: #13fb5d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 18px 0;
  background-size: 400% 400%;
  background-image: linear-gradient(-45deg, var(--primary), var(--secondary), var(--accent));
  animation: 12s myGradient infinite;
  border-radius: 40px;
  box-shadow: 3px 3px 20px #4b8349;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

@keyframes myGradient {
  0% {
    background-position: 0% 50%;
  }
  
  50%{
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}

.fa-search{
  transition: 1s;
  cursor: pointer;
  margin-left: 30px;
}

.active {
  transition: 1s;
}

.active1{
  transition: 1s;
}

.active2 {
  transition: 1s;
}

.active3 {
  transition: 1s;
}

li a {
  color: #fff;
  text-decoration: none;
  padding: 45px 45px;
  font-family: verdana;
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 1px;
  opacity: 0.9;
}

.navigation {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 93%;
  left: 50%;
}

.active3:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
  margin-top: -100px;
}

.active2:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
}

.active1:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
}

.active:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #fff;
  transition: 2s;
}

@keyframes myBackground {
  0% {
    background-position: 0% 50%;
    opacity: 0%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
    opacity: 1;
  }
}


@keyframes myLinear {
  0%{
    width: 50px;
  }
  
  100% {
    width: 250px;
  }
}

@keyframes myFlash{
  0% {
    opacity: 1;
  }
  
  50%{
    opacity: .1;
  }
  
  100% {
    opacity: 1;
  }
}

nav {
  transition: 3s;
  animation: 3s myAnimation ease linear;
}

@keyframes myAnimation {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.nav-type {
  animation: 3s myWorld ease linear;
}


a:hover {
  cursor: pointer;
}